body {background-color:black;}
p {color:white;font-family:Calibri;}
h1 {color:white}
h2 {color:white}
a:link{color:skyblue}
a:visited{color:cornflowerblue;}
a:hover{color:white;text-decoration-color=white}
a:active{color:greenyellow}